body {
  background-color: Silver;
  color: Yellow;
  text-align: center;
}
h1 {
  color: Yellow;
  text-align: center;
  font-weight: bold;
}

table, th, td {
  border: 2px solid black;
}

td, th {
  padding 10px;
  text-align: center;
}